language: php

sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer require "illuminate/support:${ILLUMINATE_VERSION}"

script:
  - composer test

matrix:
  include:
    - php: 7.2
      env:
        - ILLUMINATE_VERSION=5.8.*
